
/*
 =========================================================
 * Black Dashboard - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/black-dashboard
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

.label-radio {
    color: #ffd600 !important;
}

.IZ-select__input.IZ-select__input--focused {
    border-color: #e14eca !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.IZ-select__input input {
    color: rgba(255, 255, 255, 0.8) !important;
}

.IZ-select__input {
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: transparent !important;
    border: 1px solid #2b3553 !important;
    border-radius: .4285rem !important;
}



@import "black-dashboard/my-style.min.scss"
